<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duckside</title>
    <%- include('./layout/link.ejs') %>

</head>

<style>

</style>

<body>

    <%- include('./layout/sidebar.ejs') %>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <section id="main-content">
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" style="height: 500px;">
                                <div class="card-title">
                                    <h4>index圖片，高度暫定。</h4>
                                </div>
                                <div class="card-body">
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <%- include('./layout/script.ejs') %>

</body>

</html>