<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/duck_right.png" alt="">
                        <span>Duckside</span>
                    </a>
                </div>
                <li>
                    <a href="/about_site">
                        <i class="fa fa-home"></i> 關於本站
                    </a>
                </li>
                <li>
                    <a href="about_team">
                        <i class="fa fa-user"></i> 合作夥伴
                    </a>
                </li>
                <li class="label">投資管理</li>
                <li>
                    <a href="ma_dashboard">
                        <i class="fa fa-pie-chart"></i> 總覽
                    </a>
                </li>
                <li>
                    <a href="ma_plan">
                        <i class="fa fa-anchor"></i> 進出策略
                    </a>
                </li>
                <li>
                    <a href="ma_transaction">
                        <i class="fa fa-table"></i> 交易紀錄
                    </a>
                </li>
                <li>
                    <a href="ma_asset">
                        <i class="fa fa-bank"></i> 資產明細</a>
                </li>
                <li>
                    <a href="ma_check">
                        <i class="fa fa-line-chart"></i> 投資結算
                    </a>
                </li>
                <li class="label">其他常用</li>
                <li>
                    <a class="sidebar-sub-toggle">
                        <i class="fa fa-briefcase"></i> 小工具
                        <span class="sidebar-collapse-icon fa fa-angle-down"></span>
                    </a>
                    <ul>
                        <li>
                            <a href="chart_pie">圓餅圖: 部位配置</a>
                        </li>
                        <li>
                            <a href="calculator_RRR">計算機: 風險報酬</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-sub-toggle">
                        <i class="fa fa-gamepad"></i> 模擬投資
                        <span class="sidebar-collapse-icon fa fa-angle-down"></span>
                    </a>
                    <ul>
                        <li>
                            <a href="game_daily">划水日記</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->
