<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duckside</title>
    <!-- focus premium -->
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- font-awesome icon -->
    <link href="css/chartist.min.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>

</head>

<style>

</style>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/duck_right.png" alt="">
                            <span>Duckside</span>
                        </a>
                    </div>
                    <li><a href="about_site.html"><i class="fa fa-home"></i> 關於本站</a></li>
                    <li><a href="about_team.html"><i class="fa fa-user"></i> 合作夥伴</a></li>
                    <li class="label">投資管理</li>
                    <li><a href="ma_dashboard.html"><i class="fa fa-pie-chart"></i> 總覽</a></li>
                    <li><a href="ma_plan.html"><i class="fa fa-anchor"></i> 進出策略</a></li>
                    <li><a href="ma_transaction.html"><i class="fa fa-table"></i> 交易紀錄</a></li>
                    <li><a href="ma_asset.html"><i class="fa fa-bank"></i> 資產明細</a></li>
                    <li><a href="ma_check.html"><i class="fa fa-line-chart"></i> 投資結算</a></li>
                    <li class="label">其他常用連結</li>
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-briefcase"></i> 小工具<span
                                class="sidebar-collapse-icon fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="chart_pie.html">圓餅圖: 部位配置</a></li>
                            <li><a href="calculator_RRR">計算機: 風險報酬</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-gamepad"></i> 模擬投資<span
                        class="sidebar-collapse-icon fa fa-angle-down"></span></a>
                        <ul>
                            <li><a href="game_daily.html">划水日記</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="fa fa-bell"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Recent Notifications</span>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">5 members joined today </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Mariam</div>
                                                        <div class="notification-text">likes a photo of you</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Tasnim</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">2 New Messages</span>
                                        <a href="email.html">
                                            <i class="ti-pencil-alt pull-right"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="#" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34
                                                            PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <a href="#" class="more-link">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Upgrade Now</span>
                                        <p class="trial-day">30 Days Trail</p>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-lock"></i>
                                                    <span>Lock Screen</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# header -->

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->
                    <!-- <div class="col-lg-12 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="about.html">首頁</a></li>
                                    <li class="breadcrumb-item active">總覽</li>
                                </ol>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Hello, <span>Welcome Here</span></h1>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">投資管理</li>
                                        <li class="breadcrumb-item"><a href="ma_dashboard.html">總覽</a></li>
                                        <!-- <li class="breadcrumb-item">小工具</li>
                                        <li class="breadcrumb-item active">圓餅圖: 成本</li> -->
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-money color-heavier"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">總資產</div>
                                        <div class="stat-digit">16,888,888</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user color-middle"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">證券 76.3%</div>
                                        <div class="stat-digit">12,888,888</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-layout-grid2 color-middle"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">其他 14.2%</div>
                                        <div class="stat-digit">2,400,000 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-link color-light"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">現金 9.5%</div>
                                        <div class="stat-digit">1,600,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-title pr">
                                    <h4>部位明細</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table student-data-table m-t-20">
                                            <thead>
                                                <tr>
                                                    <th>代號</th>
                                                    <th>名稱</th>
                                                    <th>數量</th>
                                                    <th>均價</th>
                                                    <th>市值</th>
                                                    <th>佔比</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>10%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-title">
                                </div>
                                <div class="card-body">
                                    <div class="ct-pie-chart">圓餅圖</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-title">
                                </div>
                                <div class="card-body">
                                    <div class="ct-pie-chart">筆記</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card" style="height:480px">
                                        strategy memo
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- /# column -->
                        <!-- <div class="col-lg-8">
                            <div class="card">
                                <div class="card-title pr">
                                    <h4>部位明細</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table student-data-table m-t-20">
                                            <thead>
                                                <tr>
                                                    <th>代號</th>
                                                    <th>名稱</th>
                                                    <th>數量</th>
                                                    <th>均價</th>
                                                    <th>市值</th>
                                                    <th>佔比</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>10%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>2330</td>
                                                    <td>台積電</td>
                                                    <td>1,000</td>
                                                    <td>600</td>
                                                    <td>600,000</td>
                                                    <td>20%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2021 © Duckside. - <a href="#">duckside.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="js/jquery.nanoscroller.min.js"></script>
    <!-- nanoscroller -->

    <script src="js/sidebar.js"></script>
    <script src="js/pace.min.js"></script>
    <!-- sidebar -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

    <script src="js/chartist/chartist.min.js"></script>
    <script src="js/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel/owl.carousel-init.js"></script>
    <!-- <script src="js/dashboard.js"></script> -->
    <!-- 假總覽 -->

</body>

</html>