.button-plus{
  background-color:#3E88A8 ;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 3px;
  margin-left: 10px;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.getButton-plus{
  font-family: PingFangTC-Semibold, PingFang TC;
  background-color:#3E88A8 ;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  width: 160px;
  margin-left: 40px;
}

.getButton-gift-icon{
  padding-left: 6px;
  padding-bottom:6px;
}

.nextButton-plus{
  font-family: PingFangTC-Semibold, PingFang TC;
  background-color:#3E88A8 ;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  width: 100px;
  margin-bottom: 100px;
}

.button-plus-icon{
  font-size: 18px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.button-plus-text{
  font-size: 15px;
  font-family: PingFangTC-Semibold, PingFang TC;
}





.header{
  padding: 15px;
  width: 890px;
  height: 500px;
  margin-left: 90px ;
  background-color: #EDDBBE;
}

.headerSide{
  color: #E4E9EB;
  background-color:#3E88A8 ;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin-left: 10px;
  padding:0 10px ;
  font-size:24px ;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.headerBack{
  background-color:#AC4C4C;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.header-Back-text{
  font-size: 24px;
  color: white;
}

.buyTitle{
  padding-right: 50px;
  font-family: PingFangTC-Semibold, PingFang TC;
  color: #520707;
  margin: 10px;
  font-size: 16px;
}

.testEnter{
  margin-left: 20px;
}

.testEnterOne{
  margin-left:71px ;
}

.duckPict{
  width: 400px;
  height: 300px;
}


.testinputnew{
  padding: 5px;
}

.testInput{
  width: 500px;
  height: 300px;
  background-color: white;
  margin-top: 10px;
  margin-left: 50px;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.testInputHave{
  width: 400px;
  height: 300px;
  background-color: white;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.haveUI{
  float: right;
}

.haveInput{
  width: 390px;
  height: 230px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.jumpBody{
  width: 600px;
  height: 400px;
  background-color:#EDDBBE ;
}

.jumpNextTitle{
  color: #E4E9EB;
  background-color:#3E88A8 ;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 230px;
  font-size:30px ;
  margin-top:10px;
  font-family: PingFangTC-Semibold, PingFang TC;
  position: center;
}

.jumpTitle{
  color: #E4E9EB;
  background-color:#3E88A8 ;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 227px;
  font-size:30px ;
  margin-top:10px;
  font-family: PingFangTC-Semibold, PingFang TC;
}

.jumpTotle{
  text-align:center;
  padding-left: 14.5px;
}

.jumpNextGet{
  font-family: PingFangTC-Semibold, PingFang TC;
  color: #520707;
  font-size: 30px;
  padding-top: 70px;
  padding-left: 170px;
  position: center;
}

.jumpGet{
  font-family: PingFangTC-Semibold, PingFang TC;
  color: #520707;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 180px;
}

.jumpScore{
  background-color: white;
  width: 300px;
}

.jumpClose{
  color: #E4E9EB;
  background-color: #50B6C2 ;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin-left: 260px;
  font-size:30px ;
  margin-top: 30px;
  font-family: PingFangTC-Semibold, PingFang TC;
  position: center;
}

.jumpCloseGet{
  color: #E4E9EB;
  background-color: #50B6C2 ;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin-left: 260px;
  font-size:30px ;
  margin-top: 65px;
  font-family: PingFangTC-Semibold, PingFang TC;
  position: center;
}

.modalMove{
  padding-top: 50px;
  padding-left: 100px;
}

.nextTotal{
  padding-left: 350px;
  padding-top: 10px;
  font-family: PingFangTC-Semibold, PingFang TC;
}
