#container{
    margin: 0px;
    padding: 0px;
    background-color: #F5F5CC;   
}
#container .col-lg-12 nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;        
}
#container #flag{

}
#container #centerSide{
    width: 65vh;

}
#container #my_score{
    margin-top: 10px;     
}
#container #closeBtn{
    margin: 10px;        
}




