@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}


.typing {
	position: relative;
    top: 25px;
    left: 20px;
    color: #418FAC;
    display:  inline-flex;
	font: bold 200% Consolas, Monaco, monospace;
	font-size: 44px;
	width: 11em;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 4s steps(15) normal,
	           caret 1s steps(1) infinite;
}

.dialog-bottom {
	position:relative;
	top:130px;
	left:45%;
    background: rgba(255,255,255,0.9);
    height: 70px;
    margin-bottom: 10px;
    position: relative;
    width: 510px;
	height: 120px;
	border-radius: 20px;
}
.dialog-bottom::after {
    border-color: white white transparent transparent;
    border-style: solid solid solid solid;
 
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 13px 8px;
    bottom: -20px;
 
    /* 必須指定，才能顯示內容 */
    content: "";
    height: 0px;

 
    /* 必須指定，否則會變梯形 */
    position: absolute;
    left: 46px;
    left: 30px;
    width: 0px;
}


@media screen and (max-width: 1200px){
    .typing{
        font-size: 13.5px;
    }
    .dialog-bottom{
        position:relative;
	    top:150px;
	    left:35%;
        width: 170px;
        height: 75px;
    }
}
