* {
  outline-width: 0;
  /* font-family: "Nunito" !important; */
}

#formContainer_body {
  height: 0vw;
  width: 100%;
  background: url(/public/assets/images/test.png)
    center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formContainer {
  transform: translate(24%, 70%);
  display: flex;
  transition: 0.2s ease;
  height: 600px;
  transition-delay: 0.3s;
}

#formContainer.forget {
  height: 400px;
  transform: translate(24%, 80%);
}

#formContainer.toggle {
  height: 620px;
  transition-delay: 0s;
}

.formLeft {
  background: #2A6470;
  border-radius: 5px 0 0 5px;
  padding: 0 35px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.formLeft img {
  display: block;
  width: 72px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.formRight {
  position: relative;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.formRight:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  /* background: url("") center/cover fixed; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  filter: blur(5px);
}

.formRight form {
  min-height: 100%;
  background-color: #FFF;
  position: relative;
  width: 350px;
  padding: 25px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.formRight form header {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.formRight form header h1 {
  color: #191919;
  margin: 0;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formRight form header p {
  color: #191919;
  margin: 5px 0 0;
  opacity: 0.5;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formRight form section label {
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 0px;
}

.formRight form section label p {
  color: #191919;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formRight form section label input {
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  color: #191919;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 10px;
  box-sizing: border-box;
  font-weight: 600;
}

.formRight form section label input:focus ~ .border {
  transform: scale(1, 1);
}

.formRight form section label input:not(:-moz-placeholder-shown) ~ .border {
  transform: scale(1, 1);
}

.formRight form section label input:not(:-ms-input-placeholder) ~ .border {
  transform: scale(1, 1);
}

.formRight form section label input:not(:placeholder-shown) ~ .border {
  transform: scale(1, 1);
}

.formRight form section label .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transition: 0.2s ease;
}

.formRight form section label:last-child {
  margin-bottom: 0;
}

.formRight form section button {
  background: #2A6470;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
}

.formRight form section button:hover {
  background: #007f72;
}

.formRight form footer {
  margin-top: 15px;
  display: flex;
  padding: 0.5rem 0 0!important;
}

.formRight form footer button {
  background: transparent;
  padding: 0;
  border: none;
  color: #191919;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  opacity: 0.5;
}

.formRight form footer button:hover {
  opacity: 1;
}

.formRight form.otherForm {
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  padding: 25px 0;
  transition: 0.2s ease;
  transition-delay: 0.2s;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.formRight form.otherForm header  {
  color: #000;
  opacity: 0;
  transition: 0.2s ease;
  transition-delay: 0s;
  margin-top: 15px;
}
.formRight form.otherForm header h1{
  color: #000;
  /* margin-top: 20px; */
}
.formRight form.otherForm p {
  color: #000;
}

.formRight form.otherForm section {
  opacity: 0;
  transition: 0.2s ease;
  transition-delay: 0s;
}

.formRight form.otherForm footer {
  border-top-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.formRight form.otherForm footer button {
  color: #000;

}

.formRight form.otherForm input {
  border-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.formRight form.otherForm .border {
  background: #000;
}

.formRight form.otherForm.toggle {
  width: 100%;
  padding: 25px;
  transition-delay: 0s;
}

.formRight form.otherForm.toggle header,
.formRight form.otherForm.toggle section,
.formRight form.otherForm.toggle footer {
  opacity: 1;
  transition-delay: 0.3s;
}

/* normalize */
button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
menu,
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
}
button,
select {
  text-transform: none;
}
[type="submit"],
[type="reset"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
/* 第三方登入 */
.fb {
  background-color: #3B5998!important;
  color: white!important;
  padding: 10px!important;
}

.google {
  background-color: #dd4b39!important;
  color: white!important;
  padding: 10px!important;
}
